body{
font-family:"Century Gothic";
background:url(images/newbg.png) repeat;
margin:0 auto;
width:851px;

}
img{
border:none;
}
.br{border:solid 1px;}
.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}
#wraper{width:851px;}
#header{padding-top:10px; width:839px;margin:0 auto; height:115px;}
#logo{height:115px;}
#search{padding-top:50px;}
.txtsearch{
border:none;
background:url(images/txtsearch.png) no-repeat;
width:193px;
height:35px;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
padding-left:15px;}

.btn{border:none;background:url(images/btn.png) no-repeat;width:44px;height:38px;}
#blank
{
height:120px;
}


#menu{height:120px; margin:auto; background-color:#fff;width:839px;}
#try
{

}
#menu ul{
margin:0px;

padding:0px;
width:849px;
}
#menu ul li{
width:209px;
list-style:none;
display:block;
float:left;
padding-top:60px;
padding-bottom:30px;
text-align:center;
padding-right:1px;
background:url(images/menustyle2.png) no-repeat;

}
#menu li:hover{background:url(images/menustyle1.png) no-repeat;}
#menu ul a{
font-size:16px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
#menu li.style1{background:url(images/menustyle1.png) no-repeat;}
.style2{background:url(images/menustyle2.png) no-repeat;}
.btnmore{
width:133px;
height:43px;
background:url(images/btnmore.png);
border:none;
}
.maincontent{
width:845px;

margin:auto;
}
#maincontent a{
text-decoration:none;
color:#3b3737;

}
#maincontent{
width:814px;
margin:auto;
padding-left:25px;
padding-top:32px;
background:#fff;
/*background:url(images/whiteback.png) repeat-y;*/
}

#about
{
padding-left:15px;
padding-right:15px;
}
#service
{

padding-left:15px;
padding-right:15px;
}
#contactus
{
padding-left:15px;
padding-right:15px;
}
.white
{
}

#left{
background-color:#eeeded;
width:266px;
padding-left:10px;
height:437px;}

#more{
width:276px;
height:83px;
text-align:center;
padding-top:45px;
}
#content{
padding-left:0px;
width:839px;
margin:auto;
height:300px;
padding-top:22px;
/*background:url(images/whiteback.png) repeat-y;*/
background:#fff;
}
#back
{
width:839px;
margin:auto;
/*background:url(images/whiteback.png) repeat-y;*/
background:#fff;
}
/*#c1{
width:240px;
padding-top:25px;
padding-bottom:25px;
padding-right:10px;

}*/
#c1 ul{
margin:0px;
padding:0px;
}
#c1 ul li{
list-style:none;
width:240px;
list-style:none;
padding-bottom:9px;
}
#c1 ul li a{
font-size:14px;
color:#017ec0;
text-decoration:none;
}
.heading{
font-size:36px;
color:#3b3737;
height:55px;
}
.heading a
{
font-size:14px;
text-decoration:none;
color:#0066CC;
}
.heading a:hover
{
font-size:14px;
text-decoration:underline;
color:#0066CC;
}
.heading1{
font-size:24px;
color:#3b3737;
}

.a1
{
height:35px;}

.keyword
{
font-size:24px;
color:#6633CC;
vertical-align:bottom;
}

.text
{
font-size:16px;
color:#787777;
height:190px;
text-align:justify;
line-height:30px;
}

#c2
{
width:355px;
padding-left:25px;
}

#c3
{
/*padding-left:27px;
*/
padding-right:40px;
width:355px;
}


#content2{
padding-left:3px;
padding-top:23px;
padding-bottom:10px;
border-bottom:solid 1px #5e5b5b;
}

.info
{
width:282px;
}

.info ul
{
margin:0px;
padding:0px;
}

.info ul li
{
list-style:none;
height:20px;
}

.info ul li a
{
text-decoration:none;
font-size:14px;
font-weight:bold;
color:#017ec0;
}

.info a:hover{color:#82ab29;}
.blue{color:#017ec0;}
.green{color:#82ab29;}
#testimonials{width:515px;}


#footer{
color:#787777;
font-size:16px;
padding-top:28px;
height:37px;
width:851px;
padding-left:10px;
}
#footer a{
color:#787777;
font-weight:bold;
}
#border{width:851px;}

.bgimg
{
position:absolute;
z-index:1;
}

.fgimg
{
position:absolute;
padding-top:410px;
z-index:2;
}

.testi1
{
position:absolute;

}

.testi2
{
position:absolute;

padding-top:172px;
}

.btnimg
{
position:absolute;
padding-top:415px;
padding-left:400px;
z-index:400;}

.btnimg1
{
position:absolute;
padding-top:415px;
padding-left:430px;
z-index:300;}

.btnimg2
{
position:absolute;
padding-top:415px;
padding-left:460px;
z-index:200;}

.btnimg3
{
position:absolute;
padding-top:415px;
padding-left:490px;
z-index:100;}
#news_head{
height:46px;
width:240px;
background-color:#bbe5fb;
color:#086697;
font-size:30px;
font-weight:bold;
text-align:center;
}
#news_footer{
height:35px;
width:240px;
background-color:#bbe5fb;
color:#086697;
font-size:18px;
}
#news{
background:#017ec0;
}
.btnnews{
height:26px;
width:190px;
border:none;
background:url(images/subscribe.png) no-repeat;
color:#086697;
font-size:18px;
}
#news_main{
padding-top:30px;
height:125px;
text-align:center;

}
.txtnews{
border:none;
width:208px;
height:36px;
color:#FFFFFF;
font-size:16px;
font-weight:bold;
background-color:#bbe5fb;
}


.name_surname
{
padding-top:175px;
padding-left:20px;
position:absolute;
font-size:18px;
font-weight:bolder;
z-index:1000;
color:#767676;
}


.inverted_comma
{
text-align:right;
padding-right:25px;
}

.testitext
{
padding-left:35px;}
.txtgreen{
color:#82ab29;
font-size:48px;
font-weight:bold;
}
.imgtext{
width:253px;
height:300px;
padding:68px 0px;
text-align:center;

}
.txtgray{
font-size:36px;
font-weight:bold;
color:#c2c2c2;
}
#address{
background:#017ec0;
widows:700px;
padding-left:50px;
color:#FFFFFF;
font-size:16px;
padding-top:5px;
padding-bottom:20px;
font-weight:bold;

}

#f1
{
padding-top:5px;
}
.address
{
width:760px;
margin:auto;}
.adds{font-size:22px;color:#82ab29;font-weight:bold;}
.button{
width:133px;
height:43px;
border:none;
background:url(images/button.png);
color:#FFFFFF;
font-size:16px;
font-weight:bold;
}
#contact{
background:#eeeded;
padding-left:30px;
padding-right:35px;
font-weight:bold;
color:#6c6969;
padding-bottom:30px;
height:300px;
padding-top:10px;

}

#imgtext2
{
display:none;
}

#imgtext3
{
display:none;
}

#imgtext4
{
display:none;
}

.contact{
background:#eeeded;
padding-left:30px;
padding-right:35px;
font-weight:bold;
color:#6c6969;
padding-bottom:30px;
height:300px;
padding-top:50px;
width:730px;
}

.footer
{
background:#eeeded;
color:#787777;
font-size:16px;
padding-top:28px;
height:37px;
width:832px;
margin:auto;
padding-left:10px;
}

#sitesearch{
background:#eeeded;
padding-left:30px;
padding-right:40px;
font-weight:bold;
color:#6c6969;
padding-bottom:30px;
height:640px;
padding-top:20px;
width:728px;
}

#sitesearch a
{
color:#017ec0;
text-decoration:underline;
}

.url
{

color:82ab29;
}

.MsgSent {
	Display: block;
	padding: 10px;
	margin: 40px auto;
	width: 400px;
	text-align: center;
	border: 1px solid #EEE;
	background-color: white;
}



.MsgSent h1 {
	background: url(images/MsgSent.gif) no-repeat 0 0;
	padding-left: 20px;
	height: 85px;
	line-height: 85px;
}

/* Error message */
.MsgError {
	Display: block;
	padding: 10px;
	margin: 40px auto;
	width: 400px;
	text-align: center;
	border: 1px solid #EEE;
	background-color: white;
}

.MsgError h1 {
	background: url(images/MsgError.gif) no-repeat 0 0;
	padding-left: 20px;
	height: 85px;
	line-height: 85px;
	color: #CC0000;
}

.MsgSent p, .MsgError p {
	font-size: 10px;
	color:#999;
}

.tipsbox .tipsbox_top_left{
	background : url('images/top_left.png') no-repeat;
	background : url('images/top_left.gif') no-repeat;
	background-position : 9px 8px;
}

.tipsbox .tipsbox_top{
	background : url('images/top.png') repeat-x;
	height : 17px;
	_background : url('images/top.gif') repeat-x;
	_background-position : 0px 8px;
}

.tipsbox .tipsbox_top_right{
	background : url('images/top_right.png') no-repeat;
	_background : url('images/top_right.gif') no-repeat;
	_background-position : 0px 8px;
}

.tipsbox .tipsbox_left{
	background : url('images/left.png') repeat-y;
	width : 17px;
	_background : url('images/side.gif') repeat-y;
	_background-position : 9px 8px;
}

.tipsbox .tipsbox_right{
	background : url('images/right.png') repeat-y;
	width : 22px;
	_background : url('images/side.gif') repeat-y;
	_width : 9px;
}

.tipsbox .tipsbox_bottom_left{
	background : url('images/bottom_left.png');
	_background : url('images/bottom_left.gif') no-repeat;
	_background-position : 9px 0px;
}

.tipsbox .tipsbox_mark{
	background : url('images/mark.png') no-repeat;
	height : 36px;
	_background : url('images/mark.gif') no-repeat;
}

.tipsbox .tipsbox_bottom_right{
	background : url('images/bottom_right.png');
	_background : url('images/bottom_right.gif') no-repeat;
}

.tipsbox .tipsbox_inner, .tipsbox .tipsbox_inner_ie6{
	background : url('images/inner.png');
}

.tipsbox .tipsbox_inner_ie6 {
	padding : 4px;
}

.tipsbox .tipsbox_error {
	background : url('images/error.png') no-repeat;
	_background : url('images/error.gif') no-repeat;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	clear: left;
}

.tipsbox p, .tipsbox {
	font-size: 11px;
	font-family: tahoma, verdana, "sans-serif";
	margin : 0;
	padding : 0;
	border : 0;
	color : #FFF;
}

.tipsbox p {
	padding-left: 55px;
	line-height: 15px;
}

.tipsbox p span {
	font-size: 1em;
	font-weight: bold;
	color: red;
	line-height: 35px;
}


.error_f {
	border : 1px dotted #666;
	margin-top : 5px;
	}

.error_f p {
	margin : 5px;
	color : #A00;
}

.error_f p span {
	font-size : 1.1em;
	color : #000;
	margin : 5px 0px 0px 0px;
}
.middle{
padding-top:70px;
text-align:center;
}
#services{
width:300px;
}
#test_head{
font-size:24px;
color:#3b3737;
font-weight:bold;
padding-bottom:10px;
}
.test_mid{
text-align:center;
}

#test_desc{
padding-left:20px;
}
.paddingright{
padding-right:25px;
}