.ddcolortabs{
padding: 0;
width: 100%;
text-align:center;

}

.ddcolortabs ul{
margin:0;
padding:0;
list-style:none;
color:#193B57; font-size:11px; font-weight:bold; text-align:center;

}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
list-style:none;
color:#193B57; 
font-size:11px; 
font-weight:bold; 
text-align:center;
font-family:"Times New Roman", Times, serif
}


.ddcolortabs a{
text-decoration:none; color:#FFFFFF;
font-size:18px;
margin:0px 12px 0px 12px;
float:left;
}
.ddcolortabs a:hover {text-decoration:underline;}

.ddcolortabs a span{
float:left;
display:block;
padding: 4px 8px 2px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 8px;
line-height: 8px;
background: black;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_a{

position:absolute;
top:0;
/*border: 1px solid black; THEME CHANGE HERE*/
 /*Top border width. Should match height of .ddcolortabsline above*/
border-bottom-width: 0;
font:normal 14px Tahoma;
line-height:18px;
z-index:100;
width: 100px;
visibility: hidden;
font-weight:bold;

}


.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;
background-color:#EAF9FF;
border-top: 0 solid #678b3f;
/*border-bottom: 1px solid #678b3f; THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color:#193B57;
}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background-color:#BEE1FF;

}